
    <html>  
<head>  
  <title></title>  
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
</head>  

<table class="table mt-5" id="admintable">


  <thead class="thead-dark">
    <tr>
     
      <th>Date</th>
      <th>Time</th>
       <th>user</th>
       <th>Address</th>
      <th>Total</th>
      <th>Status</th>
    
    </tr>
  </thead>
  <tbody>
    {{#each ordersList}}
    <tr>

      <td>{{this.Date}}</td>
     
      <td>{{this.Time}}</td>
            <td>{{this.deliveryDetails.FirstName}}</td>
            <td>{{this.deliveryDetails.House}}</td>
    
      <td>{{this.Total}}</td>
     
      <td>
        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle p-1" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="height: 2em;width:7em"
            onclick="statusChecker('{{this._id}}')">
            {{this.Status}}
          </button>

          <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/admin/placed/{{this._id}}" style="text-decoration: none;"
              id="{{this._id}}placed">Placed</a>
            <a class="dropdown-item" href="/admin/shipped/{{this._id}}" style="text-decoration: none;"
              id="{{this._id}}ship">Shipped</a>
            <a class="dropdown-item" href="/admin/delivered/{{this._id}}" style="text-decoration: none;"
              id="{{this._id}}deliver">Delivered</a>
            <a class="dropdown-item" href="/admin/cancelled/{{this._id}}" style="text-decoration: none;"
              id="{{this._id}}cancel">Cancelled</a>
          </div>
        </div>
      </td>

    
    </tr>

    {{/each}}




{{!-- 

    <html>  
<head>  
  <title>Bootstrap Example</title>  
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
</head>  
<body>  
<div class="container">  
                                      
  <div class="dropdown">  
     <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle p-1" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="height: 2em;width:7em"
            onclick="statusChecker('{{this._id}}')">
            {{this.Status}}
          </button>
    </button>  
      <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/admin/placed/{{this._id}}" style="text-decoration: none;"
              id="{{this._id}}placed">Placed</a>
            <a class="dropdown-item" href="/admin/shipped/{{this._id}}" style="text-decoration: none;"
              id="{{this._id}}ship">Shipped</a>
            <a class="dropdown-item" href="/admin/delivered/{{this._id}}" style="text-decoration: none;"
              id="{{this._id}}deliver">Delivered</a>
            <a class="dropdown-item" href="/admin/cancelled/{{this._id}}" style="text-decoration: none;"
              id="{{this._id}}cancel">Cancelled</a>
          </div>
  </div>  
</div>  
</body>  
</html>   --}}

  </tbody>

</table>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script>
    function statusChecker(orderId) {
        console.log("llog", orderId)
        let Status = document.getElementById(orderId).innerHTML
        console.log('ja', status)
        if (Status === 'Placed') {
            console.log("Placed")
            document.getElementById(orderId + 'placed').style.display = "none";

        }else if (Status === 'Shipped') {
            console.log("Shipped")
            document.getElementById(orderId + 'placed').style.display = "none";

        } else if (Status === 'Delivered') {
            document.getElementById(orderId + 'placed').style.display = "none";
            document.getElementById(orderId + 'ship').style.display = "none";
            document.getElementById(orderId + 'cancel').style.display = "none";

        } else if (Status === 'Cancelled') {
            document.getElementById(orderId + 'placed').style.display = "none";
            document.getElementById(orderId + 'ship').style.display = "none";
            document.getElementById(orderId + 'deliver').style.display = "none";
        }
    }
</script>