{{!-- <h2 class="title text-center">Add New Banner</h2> --}}

<form action="/admin/edit-banner/{{banner._id}}" method="post" id="banner" enctype="multipart/form-data"
  onsubmit="return submitForm(this)">


  <div class=" row col-lg-12">
    <div class="col-lg-6 mt-5">
      <input type="text" class="form-control mb-3" id="banner" placeholder="Banner Name" name="banner"
        value="{{banner.name}}">
    </div>
    <div class="col-lg-6 mt-5">
      <input type="text" class="form-control mb-3" id="banner" placeholder="description" name="description"
        value="{{banner.description}}">
    </div>
  </div>
  <div class=" row col-lg-12">
    <div class="col-lg-6 mt-5">
      <input type="text" class="form-control mb-3" id="brand" placeholder="title1" name="title1"
        value="{{banner.title1}}">
    </div>
    <div class="col-lg-6 mt-5">
      <input type="text" class="form-control mb-3" id="brand" placeholder="title2" name="title2"
        value="{{banner.title2}}">
    </div>
  </div>
  <div class=" row col-lg-12">
    <div class="col-lg-6 mt-5">
      <input type="text" class="form-control mb-3" id="brand" placeholder="title3" name="title3 "
        value="{{banner.title3}}">
    </div>
    <div class="col-lg-6 mt-5">
      <input type="text" class="form-control mb-3" id="brand" placeholder="link" name="link" value="{{banner.title3}}">
    </div>
  </div>




  <div class="mt-5">
    <label for="">IMAGE 1</label>
    <img src="/banner-images/{{banner._id}}.a.jpg" alt="" style="width: 100px; height:auto" id="banner">

    <input type="file" name="image8" id="file8" class="form-control" onchange="return viewimageog(event)">
  </div>




  <div class="mt-5">
    <label for="">IMAGE 2</label>
    <img src="/banner-images/{{banner._id}}.b.jpg" alt="" style="width: 100px; height:auto" id="banner2">
    <input type="file" name="image9" id="file9" class="form-control" onchange="return viewimageog2()">
  </div>


  <div class="mt-5">
    <label for="">IMAGE 3</label>
    <img src="/banner-images/{{banner._id}}.c.jpg" alt="" style="width: 100px; height:auto" id="banner3">
    <input type="file" name="image10" id="file10" class="form-control" onchange="return viewimageog3()">
  </div>







  <button id="confirm-btn10" type="submit" class="btn btn-primary">Update banner</button><br>
</form>



<script>

  function viewimageog(event) {

    document.getElementById('banner').src = URL.createObjectURL(event.target.files[0])

    let file = event.target.files[0].name
    alert(file)
    let extension = file.split('.').pop()
    if (extension == 'jpeg' || extension == 'png' || extension == 'jpg') {
      $('#file8').show()
      $('#sub').show()
      $('#errMsg').hide()

    }
    else {
      alert('Please upload file having extensions .jpeg only.');
      $('#sub').hide()
      $('#errMsg').show()

    }
  }


</script>

<script>

  function viewimageog2(event) {

    document.getElementById('banner2').src = URL.createObjectURL(event.target.files[0])

    let file = event.target.files[0].name
    let extension = file.split('.').pop()
    if (extension == 'jpeg' || extension == 'png' || extension == 'jpg') {
      $('#imagog').show()
      $('#sub').show()
      $('#errMsg').hide()

    }
    else {
      alert('Please upload file having extensions .jpeg only.');
      $('#errMsg').show()

    }
  }


</script>
<script>

  function viewimageog3(event) {

    document.getElementById('banner3').src = URL.createObjectURL(event.target.files[0])

    let file = event.target.files[0].name 
    let extension = file.split('.').pop()
    if (extension == 'jpeg' || extension == 'png' || extension == 'jpg') {
      $('#imagog').show()
      $('#sub').show()
      $('#errMsg').hide()

    }
    else {
      alert('Please upload file having extensions .jpeg only.');
      $('#sub').hide()
      $('#errMsg').show()

    }
  }


</script>