	 
	





<style>
	@media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}

.card-registration .select-arrow {
top: 13px;
}

.bg-grey {
background-color: #eae8e8;
}

@media (min-width: 992px) {
.card-registration-2 .bg-grey {
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
}
}

@media (max-width: 991px) {
.card-registration-2 .bg-grey {
border-bottom-left-radius: 16px;
border-bottom-right-radius: 16px;
}
}
</style>


<section class="h-100 h-custom" style="background-color: #fff; bo">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h3 class="fw-bold mb-0 text-black">Shopping Cart</h3>
                    <h6 class="mb-0 text-muted">3 items</h6>
                  </div>


				  	{{#each products}}
					
					<div class="row border-top border-bottom">
						<div class="row main align-items-center">
							<div class="col-2"><img class="img-fluid" src="/product-images/{{this.product._id}}.a.jpg"></div>
							<div class="col">
								<div class="row text-muted">{{this.product.name}}</div>
								<div class="row">Cotton T-shirt</div>
							</div>
							



							<td class="column-4" style="justify-content: space-evenly;">

								<button class="cart-item-count-mr-3" style="border: none; width: 50px;"
									onclick="ChangeQty('{{this._id}}','{{this.product._id}}',-1)">-</button><br><br>
								<span id="{{this.product._id}}">{{this.quantity}}</span>

								<button class="cart-item-count-mr-3" style="width: 50px;"
									onclick="ChangeQty('{{this._id}}','{{this.product._id}}',1)">+</button>
							</td>


						
							<div class="col ml-3" style="">{{this.product.PPrice}}
							
						<span> <button style="color: seashell; width: fit-content; " class="btn btn-danger  ml-5 mb-2"  
											onclick="deleteProCart('{{this._id}}','{{this.product._id}}')">Remove</button></span>
								 </div>
						</div>
					</div>




					{{/each}}
                
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">items 3</h5>
                    <h5>€ 132.00</h5>
                  </div>

                  <h5 class="text-uppercase mb-3">Shipping</h5>

                  {{!-- <div class="mb-4 pb-2">
                    <select class="select">
                      <option value="1">Standard-Delivery- €5.00</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                      <option value="4">Four</option>
                    </select>
                  </div> --}}

                

                 

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5>{{total}}</h5>
                  </div>

	{{!-- <div class=" mr-auto" style="margin-top: 7rem; margin-right: 8rem;" >
							<a href="/place-order">	<button  class="btn btn-danger" type="submit" value="Place order">Checkout</button></a>
							</div> --}}
                  <a   href="/place-order" type="button" id="subTotal" class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark">Checkout</a>
						<div class="back-to-shop"><a href="/">&leftarrow;</a><span class="text-muted">Back to shop</span>
					

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>











<script>
	function ChangeQty(cartId, proId, count) {

    let quantity = parseInt(document.getElementById(proId).innerHTML)
	console.log(quantity)
    count = parseInt(count)
  

    $.ajax({

			
        url: '/change-product-quantity',
        data: {
            cart: cartId,
            product: proId,
            count: count,
            quantity: quantity

        },
        method: 'post',
        success: (response) => {
            console.log(response)
    
            if (response.removeProduct) {

                location.reload()
            } else {
    
    
                document.getElementById(proId).innerHTML = quantity + count
				document.getElementById('subTotal'+proId).innerHTML=response.subTotal
                
            }
    
        }
    
    }
    )

}
</script>
<script>

	function deleteProCart(cart, prodId, proId) {
		$.ajax({
			url: '/delete-cart-item',
			data: {
				cartId: cart,
				proId: prodId

			},
			method: 'post',
			success: (response) => {
				if (response.removeProduct) {
					console.log("hello ew")
				
					
					location.reload()
					document.getElementById(proId + 'row').hidden = true
					

				}
				if (response.cartEmpty) {
					alert("The item has been removed")
					location.reload()
				}
			}
		})
	}
</script>