






<div id="page " >

	<aside id="colorlib-hero">
		<div class="flexslider">
			<ul class="slides">
				<li class="" style="background-image: url(images/img_bg_1.jpg);">

				</li>
				{{#each banner}}
				<li style="background-image: url(/banner-images/{{this._id}}.a.jpg);">
					<div class="overlay"></div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6 offset-sm-3 text-center slider-text">
								<div class="slider-text-inner">
									<div class="desc">
										<h1 class="head-1">{{this.description}}</h1>
										<h2 class="head-2">{{this.title1}}</h2>
										<h2 class="head-3"><strong class="font-weight-bold">50%</strong> Off</h2>
										<p class="category"><span>Big sale sandals</span></p>
										<p><a href="#" class="btn btn-primary">Shop Collection</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				{{/each}}

			</ul>
		</div>
	</aside>
	<div class="colorlib-intro">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h2 class="intro">It started with a simple idea: Create quality, well-designed products that I
						wanted myself.</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="colorlib-product">
		<div class="container-fluid">
			<div class="row">

				<div class="col-sm-6 text-center">
					<div class="featured">

					

						<aside id="colorlib-hero">
							<div class="flexslider">
								<ul class="slides">
									

									</li>
									{{#each banner}}
									<li style="background-image: url(/banner-images/{{this._id}}.b.jpg);">
										{{/each}}
								</ul>
							</div>
						</aside>




						<div class="desc">
							<h2><a href="#">Shop Dress Collection</a></h2>
						</div>
					</div>
				</div>
				<div class="col-sm-6 text-center">
					<div class="featured">

						<aside id="colorlib-hero">
							<div class="flexslider">
								<ul class="slides">


									</li>
									{{#each banner}}
									<li style="background-image: url(/banner-images/{{this._id}}.c.jpg);">
										{{/each}}
									<li style="background-image: url(images/img_bg_1.jpg);"></li>
								</ul>
							</div>
						</aside>
						<div class="desc">
							<h2><a href="#">Shop Women's footware Collection</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="colorlib-product">
		<div class="container">
			<div class="row" style="margin-top: -170px;" >
				<div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
					<h2>Best Sellers</h2>
				</div>
			</div>





			<div class="container">
				<div class="row" style="">
					{{#each products}}
					<div class="col-lg-3 p-4">

						<div class="product-grid">

							<div class="product-image">
								<a href="/singleproduct/{{this._id}}" class="image">
									<img class="pic-1 " src="product-images/{{this._id}}.a.jpg">
									<img class="pic-2" src="product-images/{{this._id}}.b.jpg">
								</a>



								<a style="background: none;"  onclick="addtowishlist('{{this._id}}')" class="product-like-icon"
									data-tip="Add to Wishlist">
									<i class="far fa-heart"></i>
								</a>
								<ul class="product-links">

									<li><a   onclick="addtocart('{{this._id}}')" style=""><i
												class="fas fa-shopping-cart"></i></a></li>
									<li><a href="/singleproduct/{{this._id}}"><i class="fa fa-eye"></i></a></li>
								</ul>
							</div>


							{{#if this.proOffer}}
							<div class="product-content">
								<h3 class="title"><a href="#">{{this.name}}</a></h3>
								<div class="price">{{this.PPrice}}

									<span class="" style="color: brown;"><s>RS:{{this.actualPrice}}</s></span>
									<a href="/buyNow/{{this._id}}" class="ml-3">Buy Now</a>
								</div>
							</div>
							{{else}}
							<div class="product-content">
								<h3 class="title"><a href="#">{{this.name}}</a></h3>
								<div class="price">{{this.PPrice}}
									<a href="/buyNow/{{this._id}}" class="ml-5">Buy Now</a>
								</div>
							</div>
							{{/if}}



						</div>
					</div>

					{{/each}}
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 text-center">
					<p><a href="/women" class="btn btn-primary btn-lg" style="background-color: #1042F1;">Shop All
							Products</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="colorlib-partner">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
					<h2>Trusted Partners</h2>
				</div>
			</div>
			<div class="row">
				<div class="col partner-col text-center">
					<img src="images/brand-1.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
				</div>
				<div class="col partner-col text-center">
					<img src="images/brand-2.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
				</div>
				<div class="col partner-col text-center">
					<img src="images/brand-3.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
				</div>
				<div class="col partner-col text-center">
					<img src="images/brand-4.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
				</div>
				<div class="col partner-col text-center">
					<img src="images/brand-5.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
				</div>
			</div>
		</div>
	</div>

	{{!-- new items --}}
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark" style="background-color:black ;">

  <div style="background-color:black">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">lafemme.tech</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">casuals shoes</a>
        </p>
        <p>
          <a href="#!">jackets</a>
        </p>
        <p>
          <a href="#!">sarees</a>
        </p>
        <p>
          <a href="#!">sporty</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">junaidmuhammed690@gmail.com</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> malappuram, parappanagadi</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> info@example.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 70 259 41 64</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 999 566 3294</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://mdbootstrap.com/"> lafemme.tech</a>
  </div>
  <!-- Copyright -->

</footer>

</div>

<div class="gototop js-top">
	<a href="#" class="js-gotop"><span class="material-icons" style="color: white;"></span></a>






</div>



