<div class="colorlib-loader"></div>

<div id="page">
	<nav class="colorlib-nav" role="navigation">

	</nav>

	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="bread"><span><a href="/">Home</a></span> / <span>Women</span></p>
				</div>
			</div>
		</div>
	</div>

	<div class="breadcrumbs-two">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="breadcrumbs-img" style="background-image: url(images/cover-img-1.jpg);">
						<h2>Women's</h2>
					</div>
		
				</div>
			</div>
		</div>
	</div>

	<div class="colorlib-featured">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 text-center mt-4">
					<div class="featured">
						<div class="featured-img featured-img-2" style="background-image: url(images/img_bg_2.jpg);">
							
						</div>
					<a class="" href="/casuals">	<h2>Casuals</h2></a>
						
					</div>
				</div>
				<div class="col-sm-4 text-center mt-4">
					<div class="featured">
						<div class="featured-img featured-img-2" style="background-image: url(images/blog-1.jpg);">
							
						</div>
					<a class="" href="/dress"><h2>Dress</h2></a>	
						
					</div>
				</div>
				<div class="col-sm-4 text-center mt-4">
					<div class="featured">
						<div class="featured-img featured-img-2" style="background-image: url(images/item-11.jpg);">
							
						</div>
						<a class="" href="/sports"><h2>Sports</h2></a>
						
					</div>
				</div>
			</div>
		</div>
	</div>


			<div class="container">
				<div class="row">
					{{#each products}}
					<div class="col-lg-3 p-4">

						<div class="product-grid">

							<div class="product-image">
								<a href="/singleproduct/{{this._id}}" class="image">
									<img class="pic-1 " src="/product-images/{{this._id}}.a.jpg">
									<img class="pic-2" src="/product-images/{{this._id}}.b.jpg">
								</a>



								<a href="" onclick="addtowishlist('{{this._id}}')" class="product-like-icon"
									data-tip="Add to Wishlist">
									<i class="far fa-heart"></i>
								</a>
								<ul class="product-links">

									<li><a href="" onclick="addtocart('{{this._id}}')"><i
												class="fas fa-shopping-cart"></i></a></li>
									<li><a href="/singleproduct/{{this._id}}"><i class="fa fa-eye"></i></a></li>
								</ul>
							</div>


							{{#if this.proOffer}}
							<div class="product-content">
								<h3 class="title"><a href="#">{{this.name}}</a></h3>
								<div class="price">{{this.price}}

									<span class="" style="color: brown;"><s>RS:{{this.actualPrice}}</s></span>
									<a href="/buyNow/{{this._id}}" class="ml-5">Buy Now</a>
								</div>
							</div>
							{{else}}
							<div class="product-content">
								<h3 class="title"><a href="#">{{this.name}}</a></h3>
								<div class="price">{{this.PPrice}}
									<a href="/buyNow/{{this._id}}" class="ml-5">Buy Now</a>
								</div>
							</div>
							{{/if}}



						</div>
					</div>

					{{/each}}
				</div>
			</div>
			</div>
		</div>
	</div>

	<div class="colorlib-partner">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
					<h2>Trusted Partners</h2>
				</div>
			</div>
			<div class="row">
				<div class="col partner-col text-center">
					<img src="images/brand-1.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
				</div>
				<div class="col partner-col text-center">
					<img src="images/brand-2.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
				</div>
				<div class="col partner-col text-center">
					<img src="images/brand-3.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
				</div>
				<div class="col partner-col text-center">
					<img src="images/brand-4.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
				</div>
				<div class="col partner-col text-center">
					<img src="images/brand-5.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
				</div>
			</div>
		</div>
	</div>


	<footer id="colorlib-footer" role="contentinfo" style="background-color: black;">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col footer-col colorlib-widget">
					<h4 style="color: white;">About Footwear</h4>
					<p style="color: white;">Even the all-powerful Pointing has no control about the blind texts it is an almost
						unorthographic life</p>
					<p>
					<ul class="colorlib-social-icons">
						<li><a style="color: white;" href="#"><i class="icon-twitter"></i></a></li>
						<li><a  style="color: white;"href="#"><i class="icon-facebook"></i></a></li>
						<li><a style="color: white;" href="#"><i class="icon-linkedin"></i></a></li>
						<li><a style="color: white;" href="#"><i class="icon-dribbble"></i></a></li>
					</ul>
					</p>
				</div>
				<div class="col footer-col colorlib-widget">
					<h4 style="color: white;">Customer Care</h4>
					<p>
					<ul class="colorlib-footer-links">
						<li><a  style="color: white;"href="#">Contact</a></li>
						<li><a style="color: white;" href="#">Returns/Exchange</a></li>
						<li><a  style="color: white;"href="#">Gift Voucher</a></li>
						<li><a  style="color: white;"href="#">Wishlist</a></li>
						<li><a style="color: white;" href="#">Special</a></li>
						<li><a style="color: white;" href="#">Customer Services</a></li>
						<li><a  style="color: white;"href="#">Site maps</a></li>
					</ul>
					</p>
				</div>
				<div class="col footer-col colorlib-widget">
					<h4 style="color: white;">Information</h4>
					<p>
					<ul class="colorlib-footer-links">
						<li><a style="color: white;" href="#">About us</a></li>
						<li><a style="color: white;" href="#">Delivery Information</a></li>
						<li><a style="color: white;" href="#">Privacy Policy</a></li>
						<li><a style="color: white;" href="#">Support</a></li>
						<li><a style="color: white;" href="#">Order Tracking</a></li>
					</ul>
					</p>
				</div>

				<div class="col footer-col">
					<h4 style="color: white;">News</h4>
					<ul class="colorlib-footer-links" style="color: white;">
						<li><a  style="color: white;" href="blog.html">Blog</a></li>
						<li><a style="color: white;" href="#">Press</a></li>
						<li><a style="color: white;" href="#">Exhibitions</a></li>
					</ul>
				</div>

				<div class="col footer-col">
					<h4 style="color: white;">Contact Information</h4>
					<ul class="colorlib-footer-links">
						<li style="color: white;">Dis:malappuram <br> parappanagadi,po:676319</li>
						<li style="color: white;"><a href="tel://1234567920">7025941364</a></li>
						<li style="color: white;"><a href="mailto:info@yoursite.com">junaidmuhammed690@gmail.com</a></li>
						<li style="color: white;"><a href="#">yoursite.com</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="copy">
			<div class="row">
				<div class="col-sm-12 text-center">
					<p>
						<span style="color: white;">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>document.write(new Date().getFullYear());</script> All rights reserved |  <i class="icon-heart" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank"></a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</span>
						<span style="color: white;" class="block">Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a> , <a
								href="http://pexels.com/" target="_blank">Pexels.com</a></span>
					</p>
				</div>
			</div>
		</div>
	</footer>
</div>

<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
</div>


